:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-theme-color-black: #0f0f0f;
  --primary-theme-color-red: #ad241b;
  --primary-text-color-unknown: #3a3a3c;
  --primary-text-color-white: #e8e8e8;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--primary-theme-color-black);
}