.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 5px 5px rgba(245, 212, 212, 0.5);
}

.logo {
    font-size: 1.5rem;
    color: var(--c-red);
    font-weight: 800;
    user-select: none;
    cursor: pointer;
}

.logo>span {
    color: #fff;
}