.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px var(--c-red);
}

.logo {
    font-size: 1.5rem;
    color: var(--c-red);
    font-weight: 800;
    user-select: none;
    cursor: pointer;
}

.logo>span {
    color: #fff;
}